* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: red;
    color: white;
    font-size: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    background: gray;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
header .user {
    display: flex;
    gap: 40px;
}
header .log_btn {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    color: blue;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    width:400px;
    margin:100px 200px;
    padding:20px;
    border-radius: 5px;
}

.video-gallery {
    display: flex;
    padding: 40px;
    gap: 20px;
    justify-content: space-around;
}

.video-gallery img {
    width: 500px;
    height: 400px;
    object-fit: cover
}

video {
    width: 1200px;
    height: 600px;
}

