* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: red;
    color: white;
    font-size: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    background: gray;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
header .user {
    display: flex;
    gap: 40px;
}
header .log_btn {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    color: blue;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    width:400px;
    margin:100px 200px;
    padding:20px;
    border-radius: 5px;
}

.video-gallery {
    display: flex;
    padding: 40px;
    gap: 20px;
    justify-content: space-around;
}

.video-gallery img {
    width: 500px;
    height: 400px;
    object-fit: cover
}

video {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.comments-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    width: 500px;
}

.comments-section p {
    font-size: 20px;
    margin: 5px 0;
    color: #333;
}

.comments-section p strong {
    color: #000;
}

.comments-section p small {
    font-size: 12px;
    color: #888;
}

form {
    margin-top: 20px;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}